<link rel="stylesheet" href="/css/star.css" />
<style>
  .details,
  .list-group-student,
  .list-group-att {
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    display: flex;
    justify-content: space-between;
  }

  .list-group-student:last-child,
  .list-group-att:last-child {
    border-bottom: 0;
  }

  .feedback-heading {
    display: flex;
    justify-content: space-between;
  }
</style>
<section>
  <div class="container-fluid">
    <%- include('dpartials/alerts'); %>
      <div class="row">
        <div class="offset-md-3 col-md-6">
          <div class="card shadow mb-2">
            <div class="card-body">
              <h4 class="card-title">Class Info</h4>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item details">
                <strong>Title: </strong><span>
                  <%= cls.title %>
                </span>
              </li>
              <li class="list-group-item details">
                <strong>Topic: </strong><span>
                  <%= cls.topic ? cls.topic : "Not provided" %>
                </span>
              </li>
              <li class="list-group-item details">
                <strong>Teacher: </strong>
                <span>
                  <a href="/dashboard/teacher/<%= cls.teacher._id %>">
                    <%= cls.teacher.fullname %>
                  </a>
                  <% if(currentUser.role==='admin' ){ %>
                    <button class="btn btn-warning btn-sm ml-1" href="#" data-bs-toggle="modal"
                      data-bs-target="#changeTeacher">
                      Change
                    </button>
                    <% } %>
                </span>
              </li>
              <li class="list-group-item details">
                <strong>Subject: </strong>
                <%= cls.subject %>
              </li>
              <li class="list-group-item details">
                <strong>Class: </strong>
                <%= cls.class %>
              </li>
              <li class="list-group-item details">
                <strong>When: </strong>
                <%= info.time %>, <%= info.date %>
              </li>
              <li class="list-group-item details">
                <strong>Duration: </strong>
                <%= cls.duration.hrs %> hrs <%= cls.duration.mins %> mins
              </li>
              <li class="list-group-item details">
                <strong>Zoom Passcode: </strong>
                <%= cls.teacher.classroom.pwd %>
              </li>
              <% if(cls.meetUrl){ %>
                <li class="list-group-item details">
                  <strong>Google meet link: </strong><a href="<%= cls.meetUrl %>" target="_blank">Join</a>
                </li>
                <% } %>
                  <li class="list-group-item">
                    <strong>Enrolled students: </strong>
                    <ul class="list-group">
                      <% for(var i=0;i<cls.students.length;i++){ %>
                        <li class="list-group-item list-group-student">
                          <span>
                            <%= cls.students[i].fullname %>
                          </span><span>
                            <%= cls.students[i].email %>
                          </span>
                        </li>
                        <% } %>
                    </ul>
                  </li>
            </ul>
            <div class="card-footer">
              <a class="btn btn-success btn-sm"
                href="<%= currentUser.role !== 'teacher' ? cls.teacher.classroom.join_url : cls.teacher.classroom.start_url %>"
                target="_blank" role="button">Join Class</a>
              <% if(currentUser.role !=='student' ) {%>
                <button class="btn btn-warning btn-sm" href="#" data-bs-toggle="modal"
                  data-bs-target="#changeClassInfo">
                  Change Info
                </button>
                <button class="btn btn-warning btn-sm" href="#" data-bs-toggle="modal"
                  data-bs-target="#rescheduleClass">
                  Reschedule Class
                </button>
                <form action="/dashboard/class/<%= cls.id %>?_method=DELETE" method="post" class="d-inline">
                  <button class="btn btn-danger btn-sm" type="submit" onclick="return ConfirmDelete()">
                    Cancel Class
                  </button>
                </form>
                <% } %>
            </div>
          </div>

        </div>
      </div>

      <% if(currentUser.role !=='teacher' ){ %>
        <%- include('dpartials/classFeedback') %> 
      <% } %>
      <%- include('dpartials/teacherFeedback') %>           
  </div>
</section>
<% if(currentUser.role==='admin' ) {%>
  <%- include('dpartials/changeTeacher') %>
    <% } %>

      <% if(currentUser.role !=='student' ) {%>
        <%- include('dpartials/cancelClass') %>
          <%- include('dpartials/changeClassInfo') %>
            <%- include('dpartials/rescheduleClass') %>
              <% } %>
                <script>
                    function ConfirmDelete() {
                      return confirm("Are you sure you want to delete?");
                    }
                    const feedbackForm = document.getElementById("feedback-form")
                    const minutesEl = document.getElementById('mins')
                    const secondsEl = document.getElementById('secs')
                    var data = '<%- JSON.stringify(cls) %>'
                    var cls = JSON.parse(data);
                    function showFeedbackForm() {
                      let hrs = parseInt(cls.duration.hrs);
                      let mins = parseInt(cls.duration.mins);
                      let totalMins = 60 * hrs + mins;
                      let timeAfterClass = add_minutes(new Date(cls.when), totalMins);
                      let time5minsAfterClass = add_minutes(new Date(cls.when), totalMins + 5);
                      if (isBetween(timeAfterClass, time5minsAfterClass)) {
                        let timerId = setInterval(() => {
                          countdown(time5minsAfterClass)
                        }, 1000);
                        setTimeout(() => {
                          clearInterval(timerId);
                          feedbackForm.remove()
                        }, time5minsAfterClass.getTime() - new Date().getTime());
                      } else {
                        feedbackForm.remove()
                      }
                    }
                    showFeedbackForm()
                    function add_minutes(dt, minutes) {
                      return new Date(dt.getTime() + minutes * 60000);
                    };
                    function isBetween(min, max) {
                      let rightNow = new Date();
                      return (
                        rightNow.getTime() >= min.getTime() && rightNow.getTime() <= max.getTime()
                      );
                    };
                    function countdown(time5minsAfterClass) {
                      let totalSecs = (time5minsAfterClass.getTime() - new Date().getTime()) / 1000
                      let minutes = Math.floor(totalSecs / 60) % 60
                      let seconds = Math.floor(totalSecs) % 60
                      minutesEl.textContent = format(minutes)
                      secondsEl.textContent = format(seconds)
                    }
                    function format(text) {
                      return text < 10 ? `0${text}` : text;
                    }
                  </script>