<link rel="stylesheet" href="/css/star.css" />
<style>
  .details,
  .list-group-student,
  .list-group-att {
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    display: flex;
    justify-content: space-between;
  }
  .list-group-student:last-child,
  .list-group-att:last-child {
    border-bottom: 0;
  }
</style>
<section>
  <div class="container-fluid">
    <%- include('dpartials/alerts'); %>
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <div class="card shadow mb-2">
          <div class="card-body">
            <h4 class="card-title">Class Info</h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item details">
              <strong>Title: </strong><span><%= cls.title %></span>
            </li>
            <li class="list-group-item details">
              <strong>Topic: </strong><span><%= cls.topic ? cls.topic : "Not provided" %></span>
            </li>
            <li class="list-group-item details">
              <strong>Teacher: </strong>
              <span>
                <a href="/dashboard/teacher/<%= cls.teacher._id %>"><%= cls.teacher.username %></a>
                <% if(currentUser.role === 'admin'){ %> 
                <button
                class="btn btn-warning btn-sm ml-1"
                href="#"
                data-bs-toggle="modal"
                data-bs-target="#changeTeacher"
              >
                Change
              </button>
              <% } %> 
              </span>
            </li>
            <li class="list-group-item details">
              <strong>Subject: </strong><%= cls.subject %>
            </li>
            <li class="list-group-item details">
              <strong>Class: </strong><%= cls.class %>
            </li>
            <li class="list-group-item details">
              <strong>When: </strong><%= info.time %>, <%= info.date %>
            </li>
            <li class="list-group-item details">
              <strong>Duration: </strong><%= cls.duration.hrs %> hrs <%=
              cls.duration.mins %> mins
            </li>
            <% if(cls.meetUrl){ %> 
            <li class="list-group-item details">
              <strong>Google meet link: </strong><a href="<%= cls.meetUrl %>" target="_blank">Join</a>
            </li>
            <% } %> 
            <!-- <li class="list-group-item details">
              <strong>Status: </strong>
              <% if(cls.completed) {%> Completed <% } else{%> Not marked <% } %>
            </li> -->
            <li class="list-group-item">
              <strong>Enrolled students: </strong>
              <ul class="list-group">
                <% for(var i=0;i<cls.students.length;i++){ %> 
                <li class="list-group-item list-group-student">
                  <span><%= cls.students[i].username %></span><span><%= cls.students[i].email %></span>
                </li>
                <% } %> 
              </ul>
            </li>
          </ul>
          <div class="card-footer">
            <a class="btn btn-success btn-sm" href="<%= currentUser.role === 'student' ? cls.teacher.classroom.join_url : cls.teacher.classroom.start_url %>" target="_blank" role="button">Join Class</a>
            <% if(currentUser.role !== 'student') {%> 
            <button
              class="btn btn-warning btn-sm"
              href="#"
              data-bs-toggle="modal"
              data-bs-target="#changeClassInfo"
            >
              Change Info
            </button>
            <button
              class="btn btn-warning btn-sm"
              href="#"
              data-bs-toggle="modal"
              data-bs-target="#rescheduleClass"
            >
              Reschedule Class
            </button>
            <form action="/dashboard/class/<%= cls.id %>?_method=DELETE" method="post" class="d-inline">
              <button
                class="btn btn-danger btn-sm"
                type="submit"
                onclick="return ConfirmDelete()"
              >
                Cancel Class
              </button>
            </form>
            <% } %> 
          </div>
        </div>
        
      </div> 
    </div>
    <% if(currentUser.role !== 'student'){ %> 
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card shadow mb-2">
          <div class="card-body">
            <h4 class="card-title">Attendance</h4>
            <% if(!cls.status){ %> 
              Class not yet marked completed by teacher
            <% }else{ %> 
            <ul class="list-group">
              <% for(let i=0; i<cls.students.length; i++){ %> 
              <li class="list-group-item list-group-att">
                <span><%= cls.students[i].username %> </span>
                <span><%= cls.studentAttended && cls.studentAttended.includes(cls.students[i].id) ? 'P' : 'A' %></span>
              </li>
              <% } %>
            </ul>
            <% } %> 
          </div>
          <% if(cls.status){ %> 
          <div class="card-footer">
            <button
              class="btn btn-warning btn-sm"
              href="#"
              data-bs-toggle="modal"
              data-bs-target="#updateAttendance"
            >
              Update
            </button>
          </div>
          <% } %> 
        </div>
      </div>
    </div>
    <% } %> 
    <div class="row">
      <% if(currentUser.role !== 'teacher'){ %> 
      <div class="col-md-6 offset-md-3">
        <div class="card shadow">
          <div class="card-body">
            <h4 class="card-title">Class Feedback</h4>
            <% if(currentUser.role === 'student') {%> 
            <form action="/dashboard/class/<%= cls.id %>/review" method="POST" class="mb-3 validated-form">
              <fieldset class="starability-fade">
                <input
                  type="radio"
                  id="no-rate"
                  class="input-no-rate"
                  name="rating"
                  value="1"
                  checked
                  aria-label="No rating."
                />
                <input
                  type="radio"
                  id="first-rate1"
                  name="rating"
                  value="1"
                />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input
                  type="radio"
                  id="first-rate2"
                  name="rating"
                  value="2"
                />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input
                  type="radio"
                  id="first-rate3"
                  name="rating"
                  value="3"
                />
                <label for="first-rate3" title="Average">3 stars</label>
                <input
                  type="radio"
                  id="first-rate4"
                  name="rating"
                  value="4"
                />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input
                  type="radio"
                  id="first-rate5"
                  name="rating"
                  value="5"
                />
                <label for="first-rate5" title="Amazing">5 stars</label>
              </fieldset>
              <div class="mb-3">
                <textarea
                  class="form-control"
                  name="body"
                  id="body"
                  rows="2"
                ></textarea>
              </div>
              <button class="btn btn-sm btn-success">Submit</button>
            </form>
            <% } %>
            <% for(let review of cls.reviews) { %>
            <div class="card mb-3">
              <div class="card-body">
                <h6 class="card-title"><%= review.student.username %></h6>
                <p class="starability-result" data-rating="<%=review.rating%>">Rated: <%=review.rating%> stars</p>
                <p class="card-text"><%= review.body %></p>
                <%  if( currentUser && review.student.equals(currentUser._id))  {%>
                <form action="/dashboard/class/<%=cls._id%>/review/<%=review._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-sm btn-danger" onclick="return ConfirmDelete()">Delete</button>
                </form>
                <% } %>
              </div>
            </div>
            <% } %>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</section>
<% if(currentUser.role === 'admin') {%>
<%- include('dpartials/changeTeacher') %> 
<% } %> 
<%- include('dpartials/deleteReview') %>

<% if(currentUser.role !== 'student') {%> 
  <%- include('dpartials/cancelClass') %> 
  <%- include('dpartials/changeClassInfo') %> 
  <%- include('dpartials/rescheduleClass') %>
  <%- include('dpartials/updateAttendance') %> 
<% } %> 
<script>
  // const navLinks = document.querySelectorAll(".nav-link");
  // navLinks.forEach(navlink => {
  //   navlink.addEventListener('click',(e)=>{
  //     e.preventDefault();
  //     navLinks.forEach((navlink) => {
  //       navlink.classList.remove("active");
  //     });
  //     navlink.classList.add("active");
  //   })
  // })
  function ConfirmDelete() {
    return confirm("Are you sure you want to delete?");
  }
</script>