<%- include('partials/head'); %>
<%- include('partials/topNav'); %>
<%- include('partials/nav'); %>

<section>
    <div class="jumbotron jumbotron-fluid jumbotron-top mt-3">
        <div class="jumbo-text text-center">
            <h1>Courses</h1>
        </div>
    </div>
</section>



<style>
  .card-header {
      font-size: 1.8rem;
      text-align: center;
      font-weight: 400;
  }
  .card-phone{
      font-size: 2rem;
      float: right;
  }
</style>


<div class="container">


  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col col-md-6">
          <h2 class="text-right text-primary">Select Class</h2>
        </div>
        <div class="col col-md-2">

          <form>
            <div class="form-group">
              <select id='mySelect' class="form-control">
                <option value='0' >Class 1</option>
                <option value='1' >Class 2</option>
                <option value='2' >Class 3</option>
                <option value='3' >Class 4</option>
                <option value='4' >Class 5</option>
                <option value='5' >Class 6</option>
                <option value='6' >Class 7</option>
                <option value='7' >Class 8</option>
                <option value='8' >Class 9</option>
                <option value='9' >Class 10</option>
                <option value='10' >Class 11</option>
                <option value='11' >Class 12</option>
            </select>
            </div>
        </form>


        </div>

      </div>
    </div>
  </div>



<ul class="nav nav-tabs" id="myTab" style="display: none;">
    <li class="active"><a href="#Class1">Class 1</a></li>
    <li><a href="#Class2">Class 2</a></li>
    <li><a href="#Class3">Class 3</a></li>
    <li><a href="#Class4">Class 4</a></li>
    <li><a href="#Class5">Class 5</a></li>
    <li><a href="#Class6">Class 6</a></li>
    <li><a href="#Class7">Class 7</a></li>
    <li><a href="#Class8">Class 8</a></li>
    <li><a href="#Class9">Class 9</a></li>
    <li><a href="#Class10">Class 10</a></li>
    <li><a href="#Class11">Class 11</a></li>
    <li><a href="#Class12">Class 12</a></li>
</ul>


<div class="tab-content">



    <!-- Live Session Class 1 ******************************************************************-->

    <div class="tab-pane active" id="Class1">

      <div class="card mb-3 shadow">

        <p class="card-header"> <span> <img class="img-fluid pb-1" width="60" src="/img/svgs/live.svg" alt=""></span>
            <%-JSON.parse(JSON.stringify(jsonData.lsRegular.Title))%>
        </p>

        <div class="row no-gutters p-4">
          <div class="col-md-3 text-center">
            <img src="/img/svgs/graduate.svg" width="200" class="img-fluid" alt="...">
          </div>
          <div class="col-md-9 mx-auto">
            <div class="card-body">

              <h5 class="card-title">
                <%-JSON.parse(JSON.stringify(jsonData.lsRegular.OneOnOneDescription))%>
              </h5>

              <h2 class="card-title text-info">
                <%-JSON.parse(JSON.stringify(jsonData.lsRegular.OneOnOne))%>
              </h2>

              <h2 class="card-title text-success">
                <%-JSON.parse(JSON.stringify(jsonData.lsRegular.OneOnOnePricePerHourForClassOne))%>
              </h2>

              <p class="card-text">
               
              </p>
              <h6 class="card-phone" >
                <i class="fa fa-phone" aria-hidden="true"></i>
                <a style="color: rgb(59, 59, 59);" href=" <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>">
                    <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>
                </a>                       
              </h6>
              <a class="btn btn-md btn-succ" href="">
                  ADD TO CART</a>
            </div>
          </div>
        </div>
    </div>


    <div class="card mb-3 shadow">

      <p class="card-header"> <span> <img class="img-fluid pb-1" width="60" src="/img/svgs/live.svg" alt=""></span>
          <%-JSON.parse(JSON.stringify(jsonData.lsRegular.Title))%>
      </p>

      <div class="row no-gutters p-4">
        <div class="col-md-3 text-center">
          <img src="/img/svgs/graduate.svg" width="200" class="img-fluid" alt="...">
        </div>
        <div class="col-md-9 mx-auto">
          <div class="card-body">

            <h5 class="card-title">
              <%-JSON.parse(JSON.stringify(jsonData.lsRegular.TwoStudentsDescription))%>
            </h5>

            <h2 class="card-title text-info">
              <%-JSON.parse(JSON.stringify(jsonData.lsRegular.TwoStudents))%>
            </h2>

            <h2 class="card-title text-success">
              <%-JSON.parse(JSON.stringify(jsonData.lsRegular.TwoStudentsPricePerHourForClassOne))%>
            </h2>

            <p class="card-text">
             
            </p>
            <h6 class="card-phone" >
              <i class="fa fa-phone" aria-hidden="true"></i>
              <a style="color: rgb(59, 59, 59);" href=" <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>">
                  <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>
              </a>                       
            </h6>
            <a class="btn btn-md btn-succ" href="">
                ADD TO CART</a>
          </div>
        </div>
      </div>
  </div>

  <div class="card mb-3 shadow">

    <p class="card-header"> <span> <img class="img-fluid pb-1" width="60" src="/img/svgs/live.svg" alt=""></span>
        <%-JSON.parse(JSON.stringify(jsonData.lsRegular.Title))%>
    </p>

    <div class="row no-gutters p-4">
      <div class="col-md-3 text-center">
        <img src="/img/svgs/graduate.svg" width="200" class="img-fluid" alt="...">
      </div>
      <div class="col-md-9 mx-auto">
        <div class="card-body">

          <h5 class="card-title">
            <%-JSON.parse(JSON.stringify(jsonData.lsRegular.MiniBatchDescription))%>
          </h5>

          <h2 class="card-title text-info">
            <%-JSON.parse(JSON.stringify(jsonData.lsRegular.MiniBatch))%>
          </h2>

          <h2 class="card-title text-success">
            <%-JSON.parse(JSON.stringify(jsonData.lsRegular.MiniBatchPricePerHourForClassOne))%>
          </h2>

          <p class="card-text">
           
          </p>
          <h6 class="card-phone" >
            <i class="fa fa-phone" aria-hidden="true"></i>
            <a style="color: rgb(59, 59, 59);" href=" <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>">
                <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>
            </a>                       
          </h6>
          <a class="btn btn-md btn-succ" href="">
              ADD TO CART</a>
        </div>
      </div>
    </div>
</div>


</div>

    <!--  -->


    <!-- Live Session Class 2 ******************************************************************-->

    <div class="tab-pane" id="Class2">


      <div class="card mb-3 shadow">

        <p class="card-header"> <span> <img class="img-fluid pb-1" width="60" src="/img/svgs/live.svg" alt=""></span>
            <%-JSON.parse(JSON.stringify(jsonData.lsRegular.Title))%>
        </p>

        <div class="row no-gutters p-4">
          <div class="col-md-3 text-center">
            <img src="/img/svgs/graduate.svg" width="200" class="img-fluid" alt="...">
          </div>
          <div class="col-md-9 mx-auto">
            <div class="card-body">

              <h5 class="card-title">
                <%-JSON.parse(JSON.stringify(jsonData.lsRegular.OneOnOneDescription))%>
              </h5>

              <h2 class="card-title text-info">
                <%-JSON.parse(JSON.stringify(jsonData.lsRegular.OneOnOne))%>
              </h2>

              <h2 class="card-title text-success">
                <%-JSON.parse(JSON.stringify(jsonData.lsRegular.OneOnOnePricePerHourForClassTwo))%>
              </h2>

              <p class="card-text">
               
              </p>
              <h6 class="card-phone" >
                <i class="fa fa-phone" aria-hidden="true"></i>
                <a style="color: rgb(59, 59, 59);" href=" <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>">
                    <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>
                </a>                       
              </h6>
              <a class="btn btn-md btn-succ" href="">
                  ADD TO CART</a>
            </div>
          </div>
        </div>
    </div>


    <div class="card mb-3 shadow">

      <p class="card-header"> <span> <img class="img-fluid pb-1" width="60" src="/img/svgs/live.svg" alt=""></span>
          <%-JSON.parse(JSON.stringify(jsonData.lsRegular.Title))%>
      </p>

      <div class="row no-gutters p-4">
        <div class="col-md-3 text-center">
          <img src="/img/svgs/graduate.svg" width="200" class="img-fluid" alt="...">
        </div>
        <div class="col-md-9 mx-auto">
          <div class="card-body">

            <h5 class="card-title">
              <%-JSON.parse(JSON.stringify(jsonData.lsRegular.TwoStudentsDescription))%>
            </h5>

            <h2 class="card-title text-info">
              <%-JSON.parse(JSON.stringify(jsonData.lsRegular.TwoStudents))%>
            </h2>

            <h2 class="card-title text-success">
              <%-JSON.parse(JSON.stringify(jsonData.lsRegular.TwoStudentsPricePerHourForClassTwo))%>
            </h2>

            <p class="card-text">
             
            </p>
            <h6 class="card-phone" >
              <i class="fa fa-phone" aria-hidden="true"></i>
              <a style="color: rgb(59, 59, 59);" href=" <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>">
                  <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>
              </a>                       
            </h6>
            <a class="btn btn-md btn-succ" href="">
                ADD TO CART</a>
          </div>
        </div>
      </div>
  </div>

  <div class="card mb-3 shadow">

    <p class="card-header"> <span> <img class="img-fluid pb-1" width="60" src="/img/svgs/live.svg" alt=""></span>
        <%-JSON.parse(JSON.stringify(jsonData.lsRegular.Title))%>
    </p>

    <div class="row no-gutters p-4">
      <div class="col-md-3 text-center">
        <img src="/img/svgs/graduate.svg" width="200" class="img-fluid" alt="...">
      </div>
      <div class="col-md-9 mx-auto">
        <div class="card-body">

          <h5 class="card-title">
            <%-JSON.parse(JSON.stringify(jsonData.lsRegular.MiniBatchDescription))%>
          </h5>

          <h2 class="card-title text-info">
            <%-JSON.parse(JSON.stringify(jsonData.lsRegular.MiniBatch))%>
          </h2>

          <h2 class="card-title text-success">
            <%-JSON.parse(JSON.stringify(jsonData.lsRegular.MiniBatchPricePerHourForClassTwo))%>
          </h2>

          <p class="card-text">
           
          </p>
          <h6 class="card-phone" >
            <i class="fa fa-phone" aria-hidden="true"></i>
            <a style="color: rgb(59, 59, 59);" href=" <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>">
                <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>
            </a>                       
          </h6>
          <a class="btn btn-md btn-succ" href="">
              ADD TO CART</a>
        </div>
      </div>
    </div>
</div>

</div>



    <!-- Live Session Class 3 ******************************************************************-->

    <div class="tab-pane" id="Class3">


      <div class="card mb-3 shadow">

        <p class="card-header"> <span> <img class="img-fluid pb-1" width="60" src="/img/svgs/live.svg" alt=""></span>
            <%-JSON.parse(JSON.stringify(jsonData.lsRegular.Title))%>
        </p>

        <div class="row no-gutters p-4">
          <div class="col-md-3 text-center">
            <img src="/img/svgs/graduate.svg" width="200" class="img-fluid" alt="...">
          </div>
          <div class="col-md-9 mx-auto">
            <div class="card-body">

              <h5 class="card-title">
                <%-JSON.parse(JSON.stringify(jsonData.lsRegular.OneOnOneDescription))%>
              </h5>

              <h2 class="card-title text-info">
                <%-JSON.parse(JSON.stringify(jsonData.lsRegular.OneOnOne))%>
              </h2>

              <h2 class="card-title text-success">
                <%-JSON.parse(JSON.stringify(jsonData.lsRegular.OneOnOnePricePerHourForClassThree))%>
              </h2>

              <p class="card-text">
               
              </p>
              <h6 class="card-phone" >
                <i class="fa fa-phone" aria-hidden="true"></i>
                <a style="color: rgb(59, 59, 59);" href=" <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>">
                    <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>
                </a>                       
              </h6>
              <a class="btn btn-md btn-succ" href="">
                  ADD TO CART</a>
            </div>
          </div>
        </div>
    </div>


    <div class="card mb-3 shadow">

      <p class="card-header"> <span> <img class="img-fluid pb-1" width="60" src="/img/svgs/live.svg" alt=""></span>
          <%-JSON.parse(JSON.stringify(jsonData.lsRegular.Title))%>
      </p>

      <div class="row no-gutters p-4">
        <div class="col-md-3 text-center">
          <img src="/img/svgs/graduate.svg" width="200" class="img-fluid" alt="...">
        </div>
        <div class="col-md-9 mx-auto">
          <div class="card-body">

            <h5 class="card-title">
              <%-JSON.parse(JSON.stringify(jsonData.lsRegular.TwoStudentsDescription))%>
            </h5>

            <h2 class="card-title text-info">
              <%-JSON.parse(JSON.stringify(jsonData.lsRegular.TwoStudents))%>
            </h2>

            <h2 class="card-title text-success">
              <%-JSON.parse(JSON.stringify(jsonData.lsRegular.TwoStudentsPricePerHourForClassThree))%>
            </h2>

            <p class="card-text">
             
            </p>
            <h6 class="card-phone" >
              <i class="fa fa-phone" aria-hidden="true"></i>
              <a style="color: rgb(59, 59, 59);" href=" <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>">
                  <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>
              </a>                       
            </h6>
            <a class="btn btn-md btn-succ" href="">
                ADD TO CART</a>
          </div>
        </div>
      </div>
  </div>

  <div class="card mb-3 shadow">

    <p class="card-header"> <span> <img class="img-fluid pb-1" width="60" src="/img/svgs/live.svg" alt=""></span>
        <%-JSON.parse(JSON.stringify(jsonData.lsRegular.Title))%>
    </p>

    <div class="row no-gutters p-4">
      <div class="col-md-3 text-center">
        <img src="/img/svgs/graduate.svg" width="200" class="img-fluid" alt="...">
      </div>
      <div class="col-md-9 mx-auto">
        <div class="card-body">

          <h5 class="card-title">
            <%-JSON.parse(JSON.stringify(jsonData.lsRegular.MiniBatchDescription))%>
          </h5>

          <h2 class="card-title text-info">
            <%-JSON.parse(JSON.stringify(jsonData.lsRegular.MiniBatch))%>
          </h2>

          <h2 class="card-title text-success">
            <%-JSON.parse(JSON.stringify(jsonData.lsRegular.MiniBatchPricePerHourForClassThree))%>
          </h2>

          <p class="card-text">
           
          </p>
          <h6 class="card-phone" >
            <i class="fa fa-phone" aria-hidden="true"></i>
            <a style="color: rgb(59, 59, 59);" href=" <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>">
                <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>
            </a>                       
          </h6>
          <a class="btn btn-md btn-succ" href="">
              ADD TO CART</a>
        </div>
      </div>
    </div>
</div>

</div>



    <!-- Live Session Class 4 ******************************************************************-->

    <div class="tab-pane" id="Class4">


      <div class="card mb-3 shadow">

        <p class="card-header"> <span> <img class="img-fluid pb-1" width="60" src="/img/svgs/live.svg" alt=""></span>
            <%-JSON.parse(JSON.stringify(jsonData.lsRegular.Title))%>
        </p>

        <div class="row no-gutters p-4">
          <div class="col-md-3 text-center">
            <img src="/img/svgs/graduate.svg" width="200" class="img-fluid" alt="...">
          </div>
          <div class="col-md-9 mx-auto">
            <div class="card-body">

              <h5 class="card-title">
                <%-JSON.parse(JSON.stringify(jsonData.lsRegular.OneOnOneDescription))%>
              </h5>

              <h2 class="card-title text-info">
                <%-JSON.parse(JSON.stringify(jsonData.lsRegular.OneOnOne))%>
              </h2>

              <h2 class="card-title text-success">
                <%-JSON.parse(JSON.stringify(jsonData.lsRegular.OneOnOnePricePerHourForClassFour))%>
              </h2>

              <p class="card-text">
               
              </p>
              <h6 class="card-phone" >
                <i class="fa fa-phone" aria-hidden="true"></i>
                <a style="color: rgb(59, 59, 59);" href=" <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>">
                    <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>
                </a>                       
              </h6>
              <a class="btn btn-md btn-succ" href="">
                  ADD TO CART</a>
            </div>
          </div>
        </div>
    </div>


    <div class="card mb-3 shadow">

      <p class="card-header"> <span> <img class="img-fluid pb-1" width="60" src="/img/svgs/live.svg" alt=""></span>
          <%-JSON.parse(JSON.stringify(jsonData.lsRegular.Title))%>
      </p>

      <div class="row no-gutters p-4">
        <div class="col-md-3 text-center">
          <img src="/img/svgs/graduate.svg" width="200" class="img-fluid" alt="...">
        </div>
        <div class="col-md-9 mx-auto">
          <div class="card-body">

            <h5 class="card-title">
              <%-JSON.parse(JSON.stringify(jsonData.lsRegular.TwoStudentsDescription))%>
            </h5>

            <h2 class="card-title text-info">
              <%-JSON.parse(JSON.stringify(jsonData.lsRegular.TwoStudents))%>
            </h2>

            <h2 class="card-title text-success">
              <%-JSON.parse(JSON.stringify(jsonData.lsRegular.TwoStudentsPricePerHourForClassFour))%>
            </h2>

            <p class="card-text">
             
            </p>
            <h6 class="card-phone" >
              <i class="fa fa-phone" aria-hidden="true"></i>
              <a style="color: rgb(59, 59, 59);" href=" <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>">
                  <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>
              </a>                       
            </h6>
            <a class="btn btn-md btn-succ" href="">
                ADD TO CART</a>
          </div>
        </div>
      </div>
  </div>

  <div class="card mb-3 shadow">

    <p class="card-header"> <span> <img class="img-fluid pb-1" width="60" src="/img/svgs/live.svg" alt=""></span>
        <%-JSON.parse(JSON.stringify(jsonData.lsRegular.Title))%>
    </p>

    <div class="row no-gutters p-4">
      <div class="col-md-3 text-center">
        <img src="/img/svgs/graduate.svg" width="200" class="img-fluid" alt="...">
      </div>
      <div class="col-md-9 mx-auto">
        <div class="card-body">

          <h5 class="card-title">
            <%-JSON.parse(JSON.stringify(jsonData.lsRegular.MiniBatchDescription))%>
          </h5>

          <h2 class="card-title text-info">
            <%-JSON.parse(JSON.stringify(jsonData.lsRegular.MiniBatch))%>
          </h2>

          <h2 class="card-title text-success">
            <%-JSON.parse(JSON.stringify(jsonData.lsRegular.MiniBatchPricePerHourForClassFour))%>
          </h2>

          <p class="card-text">
           
          </p>
          <h6 class="card-phone" >
            <i class="fa fa-phone" aria-hidden="true"></i>
            <a style="color: rgb(59, 59, 59);" href=" <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>">
                <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>
            </a>                       
          </h6>
          <a class="btn btn-md btn-succ" href="">
              ADD TO CART</a>
        </div>
      </div>
    </div>
</div>

</div>




    <!-- Live Session Class 5 ******************************************************************-->

    <div class="tab-pane" id="Class5">


      <div class="card mb-3 shadow">

        <p class="card-header"> <span> <img class="img-fluid pb-1" width="60" src="/img/svgs/live.svg" alt=""></span>
            <%-JSON.parse(JSON.stringify(jsonData.lsRegular.Title))%>
        </p>

        <div class="row no-gutters p-4">
          <div class="col-md-3 text-center">
            <img src="/img/svgs/graduate.svg" width="200" class="img-fluid" alt="...">
          </div>
          <div class="col-md-9 mx-auto">
            <div class="card-body">

              <h5 class="card-title">
                <%-JSON.parse(JSON.stringify(jsonData.lsRegular.OneOnOneDescription))%>
              </h5>

              <h2 class="card-title text-info">
                <%-JSON.parse(JSON.stringify(jsonData.lsRegular.OneOnOne))%>
              </h2>

              <h2 class="card-title text-success">
                <%-JSON.parse(JSON.stringify(jsonData.lsRegular.OneOnOnePricePerHourForClassFive))%>
              </h2>

              <p class="card-text">
               
              </p>
              <h6 class="card-phone" >
                <i class="fa fa-phone" aria-hidden="true"></i>
                <a style="color: rgb(59, 59, 59);" href=" <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>">
                    <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>
                </a>                       
              </h6>
              <a class="btn btn-md btn-succ" href="">
                  ADD TO CART</a>
            </div>
          </div>
        </div>
    </div>


    <div class="card mb-3 shadow">

      <p class="card-header"> <span> <img class="img-fluid pb-1" width="60" src="/img/svgs/live.svg" alt=""></span>
          <%-JSON.parse(JSON.stringify(jsonData.lsRegular.Title))%>
      </p>

      <div class="row no-gutters p-4">
        <div class="col-md-3 text-center">
          <img src="/img/svgs/graduate.svg" width="200" class="img-fluid" alt="...">
        </div>
        <div class="col-md-9 mx-auto">
          <div class="card-body">

            <h5 class="card-title">
              <%-JSON.parse(JSON.stringify(jsonData.lsRegular.TwoStudentsDescription))%>
            </h5>

            <h2 class="card-title text-info">
              <%-JSON.parse(JSON.stringify(jsonData.lsRegular.TwoStudents))%>
            </h2>

            <h2 class="card-title text-success">
              <%-JSON.parse(JSON.stringify(jsonData.lsRegular.TwoStudentsPricePerHourForClassFive))%>
            </h2>

            <p class="card-text">
             
            </p>
            <h6 class="card-phone" >
              <i class="fa fa-phone" aria-hidden="true"></i>
              <a style="color: rgb(59, 59, 59);" href=" <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>">
                  <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>
              </a>                       
            </h6>
            <a class="btn btn-md btn-succ" href="">
                ADD TO CART</a>
          </div>
        </div>
      </div>
  </div>

  <div class="card mb-3 shadow">

    <p class="card-header"> <span> <img class="img-fluid pb-1" width="60" src="/img/svgs/live.svg" alt=""></span>
        <%-JSON.parse(JSON.stringify(jsonData.lsRegular.Title))%>
    </p>

    <div class="row no-gutters p-4">
      <div class="col-md-3 text-center">
        <img src="/img/svgs/graduate.svg" width="200" class="img-fluid" alt="...">
      </div>
      <div class="col-md-9 mx-auto">
        <div class="card-body">

          <h5 class="card-title">
            <%-JSON.parse(JSON.stringify(jsonData.lsRegular.MiniBatchDescription))%>
          </h5>

          <h2 class="card-title text-info">
            <%-JSON.parse(JSON.stringify(jsonData.lsRegular.MiniBatch))%>
          </h2>

          <h2 class="card-title text-success">
            <%-JSON.parse(JSON.stringify(jsonData.lsRegular.MiniBatchPricePerHourForClassFive))%>
          </h2>

          <p class="card-text">
           
          </p>
          <h6 class="card-phone" >
            <i class="fa fa-phone" aria-hidden="true"></i>
            <a style="color: rgb(59, 59, 59);" href=" <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>">
                <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>
            </a>                       
          </h6>
          <a class="btn btn-md btn-succ" href="">
              ADD TO CART</a>
        </div>
      </div>
    </div>
</div>

</div>




    <!-- Live Session Class 6 ******************************************************************-->

    <div class="tab-pane" id="Class6">


      <div class="card mb-3 shadow">

        <p class="card-header"> <span> <img class="img-fluid pb-1" width="60" src="/img/svgs/live.svg" alt=""></span>
            <%-JSON.parse(JSON.stringify(jsonData.lsRegular.Title))%>
        </p>

        <div class="row no-gutters p-4">
          <div class="col-md-3 text-center">
            <img src="/img/svgs/graduate.svg" width="200" class="img-fluid" alt="...">
          </div>
          <div class="col-md-9 mx-auto">
            <div class="card-body">

              <h5 class="card-title">
                <%-JSON.parse(JSON.stringify(jsonData.lsRegular.OneOnOneDescription))%>
              </h5>

              <h2 class="card-title text-info">
                <%-JSON.parse(JSON.stringify(jsonData.lsRegular.OneOnOne))%>
              </h2>

              <h2 class="card-title text-success">
                <%-JSON.parse(JSON.stringify(jsonData.lsRegular.OneOnOnePricePerHourForClassSix))%>
              </h2>

              <p class="card-text">
               
              </p>
              <h6 class="card-phone" >
                <i class="fa fa-phone" aria-hidden="true"></i>
                <a style="color: rgb(59, 59, 59);" href=" <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>">
                    <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>
                </a>                       
              </h6>
              <a class="btn btn-md btn-succ" href="">
                  ADD TO CART</a>
            </div>
          </div>
        </div>
    </div>


    <div class="card mb-3 shadow">

      <p class="card-header"> <span> <img class="img-fluid pb-1" width="60" src="/img/svgs/live.svg" alt=""></span>
          <%-JSON.parse(JSON.stringify(jsonData.lsRegular.Title))%>
      </p>

      <div class="row no-gutters p-4">
        <div class="col-md-3 text-center">
          <img src="/img/svgs/graduate.svg" width="200" class="img-fluid" alt="...">
        </div>
        <div class="col-md-9 mx-auto">
          <div class="card-body">

            <h5 class="card-title">
              <%-JSON.parse(JSON.stringify(jsonData.lsRegular.TwoStudentsDescription))%>
            </h5>

            <h2 class="card-title text-info">
              <%-JSON.parse(JSON.stringify(jsonData.lsRegular.TwoStudents))%>
            </h2>

            <h2 class="card-title text-success">
              <%-JSON.parse(JSON.stringify(jsonData.lsRegular.TwoStudentsPricePerHourForClassSix))%>
            </h2>

            <p class="card-text">
             
            </p>
            <h6 class="card-phone" >
              <i class="fa fa-phone" aria-hidden="true"></i>
              <a style="color: rgb(59, 59, 59);" href=" <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>">
                  <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>
              </a>                       
            </h6>
            <a class="btn btn-md btn-succ" href="">
                ADD TO CART</a>
          </div>
        </div>
      </div>
  </div>

  <div class="card mb-3 shadow">

    <p class="card-header"> <span> <img class="img-fluid pb-1" width="60" src="/img/svgs/live.svg" alt=""></span>
        <%-JSON.parse(JSON.stringify(jsonData.lsRegular.Title))%>
    </p>

    <div class="row no-gutters p-4">
      <div class="col-md-3 text-center">
        <img src="/img/svgs/graduate.svg" width="200" class="img-fluid" alt="...">
      </div>
      <div class="col-md-9 mx-auto">
        <div class="card-body">

          <h5 class="card-title">
            <%-JSON.parse(JSON.stringify(jsonData.lsRegular.MiniBatchDescription))%>
          </h5>

          <h2 class="card-title text-info">
            <%-JSON.parse(JSON.stringify(jsonData.lsRegular.MiniBatch))%>
          </h2>

          <h2 class="card-title text-success">
            <%-JSON.parse(JSON.stringify(jsonData.lsRegular.MiniBatchPricePerHourForClassSix))%>
          </h2>

          <p class="card-text">
           
          </p>
          <h6 class="card-phone" >
            <i class="fa fa-phone" aria-hidden="true"></i>
            <a style="color: rgb(59, 59, 59);" href=" <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>">
                <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>
            </a>                       
          </h6>
          <a class="btn btn-md btn-succ" href="">
              ADD TO CART</a>
        </div>
      </div>
    </div>
</div>

</div>




    <!-- Live Session Class 7 ******************************************************************-->

    <div class="tab-pane" id="Class7">


      <div class="card mb-3 shadow">

        <p class="card-header"> <span> <img class="img-fluid pb-1" width="60" src="/img/svgs/live.svg" alt=""></span>
            <%-JSON.parse(JSON.stringify(jsonData.lsRegular.Title))%>
        </p>

        <div class="row no-gutters p-4">
          <div class="col-md-3 text-center">
            <img src="/img/svgs/graduate.svg" width="200" class="img-fluid" alt="...">
          </div>
          <div class="col-md-9 mx-auto">
            <div class="card-body">

              <h5 class="card-title">
                <%-JSON.parse(JSON.stringify(jsonData.lsRegular.OneOnOneDescription))%>
              </h5>

              <h2 class="card-title text-info">
                <%-JSON.parse(JSON.stringify(jsonData.lsRegular.OneOnOne))%>
              </h2>

              <h2 class="card-title text-success">
                <%-JSON.parse(JSON.stringify(jsonData.lsRegular.OneOnOnePricePerHourForClassSeven))%>
              </h2>

              <p class="card-text">
               
              </p>
              <h6 class="card-phone" >
                <i class="fa fa-phone" aria-hidden="true"></i>
                <a style="color: rgb(59, 59, 59);" href=" <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>">
                    <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>
                </a>                       
              </h6>
              <a class="btn btn-md btn-succ" href="">
                  ADD TO CART</a>
            </div>
          </div>
        </div>
    </div>


    <div class="card mb-3 shadow">

      <p class="card-header"> <span> <img class="img-fluid pb-1" width="60" src="/img/svgs/live.svg" alt=""></span>
          <%-JSON.parse(JSON.stringify(jsonData.lsRegular.Title))%>
      </p>

      <div class="row no-gutters p-4">
        <div class="col-md-3 text-center">
          <img src="/img/svgs/graduate.svg" width="200" class="img-fluid" alt="...">
        </div>
        <div class="col-md-9 mx-auto">
          <div class="card-body">

            <h5 class="card-title">
              <%-JSON.parse(JSON.stringify(jsonData.lsRegular.TwoStudentsDescription))%>
            </h5>

            <h2 class="card-title text-info">
              <%-JSON.parse(JSON.stringify(jsonData.lsRegular.TwoStudents))%>
            </h2>

            <h2 class="card-title text-success">
              <%-JSON.parse(JSON.stringify(jsonData.lsRegular.TwoStudentsPricePerHourForClassSeven))%>
            </h2>

            <p class="card-text">
             
            </p>
            <h6 class="card-phone" >
              <i class="fa fa-phone" aria-hidden="true"></i>
              <a style="color: rgb(59, 59, 59);" href=" <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>">
                  <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>
              </a>                       
            </h6>
            <a class="btn btn-md btn-succ" href="">
                ADD TO CART</a>
          </div>
        </div>
      </div>
  </div>

  <div class="card mb-3 shadow">

    <p class="card-header"> <span> <img class="img-fluid pb-1" width="60" src="/img/svgs/live.svg" alt=""></span>
        <%-JSON.parse(JSON.stringify(jsonData.lsRegular.Title))%>
    </p>

    <div class="row no-gutters p-4">
      <div class="col-md-3 text-center">
        <img src="/img/svgs/graduate.svg" width="200" class="img-fluid" alt="...">
      </div>
      <div class="col-md-9 mx-auto">
        <div class="card-body">

          <h5 class="card-title">
            <%-JSON.parse(JSON.stringify(jsonData.lsRegular.MiniBatchDescription))%>
          </h5>

          <h2 class="card-title text-info">
            <%-JSON.parse(JSON.stringify(jsonData.lsRegular.MiniBatch))%>
          </h2>

          <h2 class="card-title text-success">
            <%-JSON.parse(JSON.stringify(jsonData.lsRegular.MiniBatchPricePerHourForClassSeven))%>
          </h2>

          <p class="card-text">
           
          </p>
          <h6 class="card-phone" >
            <i class="fa fa-phone" aria-hidden="true"></i>
            <a style="color: rgb(59, 59, 59);" href=" <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>">
                <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>
            </a>                       
          </h6>
          <a class="btn btn-md btn-succ" href="">
              ADD TO CART</a>
        </div>
      </div>
    </div>
</div>

</div>




    <!-- Live Session Class 8 ******************************************************************-->

    <div class="tab-pane" id="Class8">


      <div class="card mb-3 shadow">

        <p class="card-header"> <span> <img class="img-fluid pb-1" width="60" src="/img/svgs/live.svg" alt=""></span>
            <%-JSON.parse(JSON.stringify(jsonData.lsRegular.Title))%>
        </p>

        <div class="row no-gutters p-4">
          <div class="col-md-3 text-center">
            <img src="/img/svgs/graduate.svg" width="200" class="img-fluid" alt="...">
          </div>
          <div class="col-md-9 mx-auto">
            <div class="card-body">

              <h5 class="card-title">
                <%-JSON.parse(JSON.stringify(jsonData.lsRegular.OneOnOneDescription))%>
              </h5>

              <h2 class="card-title text-info">
                <%-JSON.parse(JSON.stringify(jsonData.lsRegular.OneOnOne))%>
              </h2>

              <h2 class="card-title text-success">
                <%-JSON.parse(JSON.stringify(jsonData.lsRegular.OneOnOnePricePerHourForClassEight))%>
              </h2>

              <p class="card-text">
               
              </p>
              <h6 class="card-phone" >
                <i class="fa fa-phone" aria-hidden="true"></i>
                <a style="color: rgb(59, 59, 59);" href=" <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>">
                    <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>
                </a>                       
              </h6>
              <a class="btn btn-md btn-succ" href="">
                  ADD TO CART</a>
            </div>
          </div>
        </div>
    </div>


    <div class="card mb-3 shadow">

      <p class="card-header"> <span> <img class="img-fluid pb-1" width="60" src="/img/svgs/live.svg" alt=""></span>
          <%-JSON.parse(JSON.stringify(jsonData.lsRegular.Title))%>
      </p>

      <div class="row no-gutters p-4">
        <div class="col-md-3 text-center">
          <img src="/img/svgs/graduate.svg" width="200" class="img-fluid" alt="...">
        </div>
        <div class="col-md-9 mx-auto">
          <div class="card-body">

            <h5 class="card-title">
              <%-JSON.parse(JSON.stringify(jsonData.lsRegular.TwoStudentsDescription))%>
            </h5>

            <h2 class="card-title text-info">
              <%-JSON.parse(JSON.stringify(jsonData.lsRegular.TwoStudents))%>
            </h2>

            <h2 class="card-title text-success">
              <%-JSON.parse(JSON.stringify(jsonData.lsRegular.TwoStudentsPricePerHourForClassEight))%>
            </h2>

            <p class="card-text">
             
            </p>
            <h6 class="card-phone" >
              <i class="fa fa-phone" aria-hidden="true"></i>
              <a style="color: rgb(59, 59, 59);" href=" <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>">
                  <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>
              </a>                       
            </h6>
            <a class="btn btn-md btn-succ" href="">
                ADD TO CART</a>
          </div>
        </div>
      </div>
  </div>

  <div class="card mb-3 shadow">

    <p class="card-header"> <span> <img class="img-fluid pb-1" width="60" src="/img/svgs/live.svg" alt=""></span>
        <%-JSON.parse(JSON.stringify(jsonData.lsRegular.Title))%>
    </p>

    <div class="row no-gutters p-4">
      <div class="col-md-3 text-center">
        <img src="/img/svgs/graduate.svg" width="200" class="img-fluid" alt="...">
      </div>
      <div class="col-md-9 mx-auto">
        <div class="card-body">

          <h5 class="card-title">
            <%-JSON.parse(JSON.stringify(jsonData.lsRegular.MiniBatchDescription))%>
          </h5>

          <h2 class="card-title text-info">
            <%-JSON.parse(JSON.stringify(jsonData.lsRegular.MiniBatch))%>
          </h2>

          <h2 class="card-title text-success">
            <%-JSON.parse(JSON.stringify(jsonData.lsRegular.MiniBatchPricePerHourForClassEight))%>
          </h2>

          <p class="card-text">
           
          </p>
          <h6 class="card-phone" >
            <i class="fa fa-phone" aria-hidden="true"></i>
            <a style="color: rgb(59, 59, 59);" href=" <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>">
                <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>
            </a>                       
          </h6>
          <a class="btn btn-md btn-succ" href="">
              ADD TO CART</a>
        </div>
      </div>
    </div>
</div>

</div>




    <!-- Live Session Class 9 ******************************************************************-->

    <div class="tab-pane" id="Class9">


      <div class="card mb-3 shadow">

        <p class="card-header"> <span> <img class="img-fluid pb-1" width="60" src="/img/svgs/live.svg" alt=""></span>
            <%-JSON.parse(JSON.stringify(jsonData.lsRegular.Title))%>
        </p>

        <div class="row no-gutters p-4">
          <div class="col-md-3 text-center">
            <img src="/img/svgs/graduate.svg" width="200" class="img-fluid" alt="...">
          </div>
          <div class="col-md-9 mx-auto">
            <div class="card-body">

              <h5 class="card-title">
                <%-JSON.parse(JSON.stringify(jsonData.lsRegular.OneOnOneDescription))%>
              </h5>

              <h2 class="card-title text-info">
                <%-JSON.parse(JSON.stringify(jsonData.lsRegular.OneOnOne))%>
              </h2>

              <h2 class="card-title text-success">
                <%-JSON.parse(JSON.stringify(jsonData.lsRegular.OneOnOnePricePerHourForClassNine))%>
              </h2>

              <p class="card-text">
               
              </p>
              <h6 class="card-phone" >
                <i class="fa fa-phone" aria-hidden="true"></i>
                <a style="color: rgb(59, 59, 59);" href=" <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>">
                    <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>
                </a>                       
              </h6>
              <a class="btn btn-md btn-succ" href="">
                  ADD TO CART</a>
            </div>
          </div>
        </div>
    </div>


    <div class="card mb-3 shadow">

      <p class="card-header"> <span> <img class="img-fluid pb-1" width="60" src="/img/svgs/live.svg" alt=""></span>
          <%-JSON.parse(JSON.stringify(jsonData.lsRegular.Title))%>
      </p>

      <div class="row no-gutters p-4">
        <div class="col-md-3 text-center">
          <img src="/img/svgs/graduate.svg" width="200" class="img-fluid" alt="...">
        </div>
        <div class="col-md-9 mx-auto">
          <div class="card-body">

            <h5 class="card-title">
              <%-JSON.parse(JSON.stringify(jsonData.lsRegular.TwoStudentsDescription))%>
            </h5>

            <h2 class="card-title text-info">
              <%-JSON.parse(JSON.stringify(jsonData.lsRegular.TwoStudents))%>
            </h2>

            <h2 class="card-title text-success">
              <%-JSON.parse(JSON.stringify(jsonData.lsRegular.TwoStudentsPricePerHourForClassNine))%>
            </h2>

            <p class="card-text">
             
            </p>
            <h6 class="card-phone" >
              <i class="fa fa-phone" aria-hidden="true"></i>
              <a style="color: rgb(59, 59, 59);" href=" <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>">
                  <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>
              </a>                       
            </h6>
            <a class="btn btn-md btn-succ" href="">
                ADD TO CART</a>
          </div>
        </div>
      </div>
  </div>

  <div class="card mb-3 shadow">

    <p class="card-header"> <span> <img class="img-fluid pb-1" width="60" src="/img/svgs/live.svg" alt=""></span>
        <%-JSON.parse(JSON.stringify(jsonData.lsRegular.Title))%>
    </p>

    <div class="row no-gutters p-4">
      <div class="col-md-3 text-center">
        <img src="/img/svgs/graduate.svg" width="200" class="img-fluid" alt="...">
      </div>
      <div class="col-md-9 mx-auto">
        <div class="card-body">

          <h5 class="card-title">
            <%-JSON.parse(JSON.stringify(jsonData.lsRegular.MiniBatchDescription))%>
          </h5>

          <h2 class="card-title text-info">
            <%-JSON.parse(JSON.stringify(jsonData.lsRegular.MiniBatch))%>
          </h2>

          <h2 class="card-title text-success">
            <%-JSON.parse(JSON.stringify(jsonData.lsRegular.MiniBatchPricePerHourForClassNine))%>
          </h2>

          <p class="card-text">
           
          </p>
          <h6 class="card-phone" >
            <i class="fa fa-phone" aria-hidden="true"></i>
            <a style="color: rgb(59, 59, 59);" href=" <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>">
                <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>
            </a>                       
          </h6>
          <a class="btn btn-md btn-succ" href="">
              ADD TO CART</a>
        </div>
      </div>
    </div>
</div>

</div>




    <!-- Live Session Class 10 ******************************************************************-->

    <div class="tab-pane" id="Class10">


      <div class="card mb-3 shadow">

        <p class="card-header"> <span> <img class="img-fluid pb-1" width="60" src="/img/svgs/live.svg" alt=""></span>
            <%-JSON.parse(JSON.stringify(jsonData.lsRegular.Title))%>
        </p>

        <div class="row no-gutters p-4">
          <div class="col-md-3 text-center">
            <img src="/img/svgs/graduate.svg" width="200" class="img-fluid" alt="...">
          </div>
          <div class="col-md-9 mx-auto">
            <div class="card-body">

              <h5 class="card-title">
                <%-JSON.parse(JSON.stringify(jsonData.lsRegular.OneOnOneDescription))%>
              </h5>

              <h2 class="card-title text-info">
                <%-JSON.parse(JSON.stringify(jsonData.lsRegular.OneOnOne))%>
              </h2>

              <h2 class="card-title text-success">
                <%-JSON.parse(JSON.stringify(jsonData.lsRegular.OneOnOnePricePerHourForClassTen))%>
              </h2>

              <p class="card-text">
               
              </p>
              <h6 class="card-phone" >
                <i class="fa fa-phone" aria-hidden="true"></i>
                <a style="color: rgb(59, 59, 59);" href=" <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>">
                    <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>
                </a>                       
              </h6>
              <a class="btn btn-md btn-succ" href="">
                  ADD TO CART</a>
            </div>
          </div>
        </div>
    </div>


    <div class="card mb-3 shadow">

      <p class="card-header"> <span> <img class="img-fluid pb-1" width="60" src="/img/svgs/live.svg" alt=""></span>
          <%-JSON.parse(JSON.stringify(jsonData.lsRegular.Title))%>
      </p>

      <div class="row no-gutters p-4">
        <div class="col-md-3 text-center">
          <img src="/img/svgs/graduate.svg" width="200" class="img-fluid" alt="...">
        </div>
        <div class="col-md-9 mx-auto">
          <div class="card-body">

            <h5 class="card-title">
              <%-JSON.parse(JSON.stringify(jsonData.lsRegular.TwoStudentsDescription))%>
            </h5>

            <h2 class="card-title text-info">
              <%-JSON.parse(JSON.stringify(jsonData.lsRegular.TwoStudents))%>
            </h2>

            <h2 class="card-title text-success">
              <%-JSON.parse(JSON.stringify(jsonData.lsRegular.TwoStudentsPricePerHourForClassTen))%>
            </h2>

            <p class="card-text">
             
            </p>
            <h6 class="card-phone" >
              <i class="fa fa-phone" aria-hidden="true"></i>
              <a style="color: rgb(59, 59, 59);" href=" <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>">
                  <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>
              </a>                       
            </h6>
            <a class="btn btn-md btn-succ" href="">
                ADD TO CART</a>
          </div>
        </div>
      </div>
  </div>

  <div class="card mb-3 shadow">

    <p class="card-header"> <span> <img class="img-fluid pb-1" width="60" src="/img/svgs/live.svg" alt=""></span>
        <%-JSON.parse(JSON.stringify(jsonData.lsRegular.Title))%>
    </p>

    <div class="row no-gutters p-4">
      <div class="col-md-3 text-center">
        <img src="/img/svgs/graduate.svg" width="200" class="img-fluid" alt="...">
      </div>
      <div class="col-md-9 mx-auto">
        <div class="card-body">

          <h5 class="card-title">
            <%-JSON.parse(JSON.stringify(jsonData.lsRegular.MiniBatchDescription))%>
          </h5>

          <h2 class="card-title text-info">
            <%-JSON.parse(JSON.stringify(jsonData.lsRegular.MiniBatch))%>
          </h2>

          <h2 class="card-title text-success">
            <%-JSON.parse(JSON.stringify(jsonData.lsRegular.MiniBatchPricePerHourForClassTen))%>
          </h2>

          <p class="card-text">
           
          </p>
          <h6 class="card-phone" >
            <i class="fa fa-phone" aria-hidden="true"></i>
            <a style="color: rgb(59, 59, 59);" href=" <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>">
                <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>
            </a>                       
          </h6>
          <a class="btn btn-md btn-succ" href="">
              ADD TO CART</a>
        </div>
      </div>
    </div>
</div>

</div>




    <!-- Live Session Class 11 ******************************************************************-->

    <div class="tab-pane" id="Class11">


      <div class="card mb-3 shadow">

        <p class="card-header"> <span> <img class="img-fluid pb-1" width="60" src="/img/svgs/live.svg" alt=""></span>
            <%-JSON.parse(JSON.stringify(jsonData.lsRegular.Title))%>
        </p>

        <div class="row no-gutters p-4">
          <div class="col-md-3 text-center">
            <img src="/img/svgs/graduate.svg" width="200" class="img-fluid" alt="...">
          </div>
          <div class="col-md-9 mx-auto">
            <div class="card-body">

              <h5 class="card-title">
                <%-JSON.parse(JSON.stringify(jsonData.lsRegular.OneOnOneDescription))%>
              </h5>

              <h2 class="card-title text-info">
                <%-JSON.parse(JSON.stringify(jsonData.lsRegular.OneOnOne))%>
              </h2>

              <h2 class="card-title text-success">
                <%-JSON.parse(JSON.stringify(jsonData.lsRegular.OneOnOnePricePerHourForClassEleven))%>
              </h2>

              <p class="card-text">
               
              </p>
              <h6 class="card-phone" >
                <i class="fa fa-phone" aria-hidden="true"></i>
                <a style="color: rgb(59, 59, 59);" href=" <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>">
                    <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>
                </a>                       
              </h6>
              <a class="btn btn-md btn-succ" href="">
                  ADD TO CART</a>
            </div>
          </div>
        </div>
    </div>


    <div class="card mb-3 shadow">

      <p class="card-header"> <span> <img class="img-fluid pb-1" width="60" src="/img/svgs/live.svg" alt=""></span>
          <%-JSON.parse(JSON.stringify(jsonData.lsRegular.Title))%>
      </p>

      <div class="row no-gutters p-4">
        <div class="col-md-3 text-center">
          <img src="/img/svgs/graduate.svg" width="200" class="img-fluid" alt="...">
        </div>
        <div class="col-md-9 mx-auto">
          <div class="card-body">

            <h5 class="card-title">
              <%-JSON.parse(JSON.stringify(jsonData.lsRegular.TwoStudentsDescription))%>
            </h5>

            <h2 class="card-title text-info">
              <%-JSON.parse(JSON.stringify(jsonData.lsRegular.TwoStudents))%>
            </h2>

            <h2 class="card-title text-success">
              <%-JSON.parse(JSON.stringify(jsonData.lsRegular.TwoStudentsPricePerHourForClassEleven))%>
            </h2>

            <p class="card-text">
             
            </p>
            <h6 class="card-phone" >
              <i class="fa fa-phone" aria-hidden="true"></i>
              <a style="color: rgb(59, 59, 59);" href=" <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>">
                  <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>
              </a>                       
            </h6>
            <a class="btn btn-md btn-succ" href="">
                ADD TO CART</a>
          </div>
        </div>
      </div>
  </div>

  <div class="card mb-3 shadow">

    <p class="card-header"> <span> <img class="img-fluid pb-1" width="60" src="/img/svgs/live.svg" alt=""></span>
        <%-JSON.parse(JSON.stringify(jsonData.lsRegular.Title))%>
    </p>

    <div class="row no-gutters p-4">
      <div class="col-md-3 text-center">
        <img src="/img/svgs/graduate.svg" width="200" class="img-fluid" alt="...">
      </div>
      <div class="col-md-9 mx-auto">
        <div class="card-body">

          <h5 class="card-title">
            <%-JSON.parse(JSON.stringify(jsonData.lsRegular.MiniBatchDescription))%>
          </h5>

          <h2 class="card-title text-info">
            <%-JSON.parse(JSON.stringify(jsonData.lsRegular.MiniBatch))%>
          </h2>

          <h2 class="card-title text-success">
            <%-JSON.parse(JSON.stringify(jsonData.lsRegular.MiniBatchPricePerHourForClassEleven))%>
          </h2>

          <p class="card-text">
           
          </p>
          <h6 class="card-phone" >
            <i class="fa fa-phone" aria-hidden="true"></i>
            <a style="color: rgb(59, 59, 59);" href=" <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>">
                <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>
            </a>                       
          </h6>
          <a class="btn btn-md btn-succ" href="">
              ADD TO CART</a>
        </div>
      </div>
    </div>
</div>

</div>





    <!-- Live Session Class 12 ******************************************************************-->

    <div class="tab-pane" id="Class12">


      <div class="card mb-3 shadow">

        <p class="card-header"> <span> <img class="img-fluid pb-1" width="60" src="/img/svgs/live.svg" alt=""></span>
            <%-JSON.parse(JSON.stringify(jsonData.lsRegular.Title))%>
        </p>

        <div class="row no-gutters p-4">
          <div class="col-md-3 text-center">
            <img src="/img/svgs/graduate.svg" width="200" class="img-fluid" alt="...">
          </div>
          <div class="col-md-9 mx-auto">
            <div class="card-body">

              <h5 class="card-title">
                <%-JSON.parse(JSON.stringify(jsonData.lsRegular.OneOnOneDescription))%>
              </h5>

              <h2 class="card-title text-info">
                <%-JSON.parse(JSON.stringify(jsonData.lsRegular.OneOnOne))%>
              </h2>

              <h2 class="card-title text-success">
                <%-JSON.parse(JSON.stringify(jsonData.lsRegular.OneOnOnePricePerHourForClassTwelve))%>
              </h2>

              <p class="card-text">
               
              </p>
              <h6 class="card-phone" >
                <i class="fa fa-phone" aria-hidden="true"></i>
                <a style="color: rgb(59, 59, 59);" href=" <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>">
                    <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>
                </a>                       
              </h6>
              <a class="btn btn-md btn-succ" href="">
                  ADD TO CART</a>
            </div>
          </div>
        </div>
    </div>


    <div class="card mb-3 shadow">

      <p class="card-header"> <span> <img class="img-fluid pb-1" width="60" src="/img/svgs/live.svg" alt=""></span>
          <%-JSON.parse(JSON.stringify(jsonData.lsRegular.Title))%>
      </p>

      <div class="row no-gutters p-4">
        <div class="col-md-3 text-center">
          <img src="/img/svgs/graduate.svg" width="200" class="img-fluid" alt="...">
        </div>
        <div class="col-md-9 mx-auto">
          <div class="card-body">

            <h5 class="card-title">
              <%-JSON.parse(JSON.stringify(jsonData.lsRegular.TwoStudentsDescription))%>
            </h5>

            <h2 class="card-title text-info">
              <%-JSON.parse(JSON.stringify(jsonData.lsRegular.TwoStudents))%>
            </h2>

            <h2 class="card-title text-success">
              <%-JSON.parse(JSON.stringify(jsonData.lsRegular.TwoStudentsPricePerHourForClassTwelve))%>
            </h2>

            <p class="card-text">
             
            </p>
            <h6 class="card-phone" >
              <i class="fa fa-phone" aria-hidden="true"></i>
              <a style="color: rgb(59, 59, 59);" href=" <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>">
                  <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>
              </a>                       
            </h6>
            <a class="btn btn-md btn-succ" href="">
                ADD TO CART</a>
          </div>
        </div>
      </div>
  </div>

  <div class="card mb-3 shadow">

    <p class="card-header"> <span> <img class="img-fluid pb-1" width="60" src="/img/svgs/live.svg" alt=""></span>
        <%-JSON.parse(JSON.stringify(jsonData.lsRegular.Title))%>
    </p>

    <div class="row no-gutters p-4">
      <div class="col-md-3 text-center">
        <img src="/img/svgs/graduate.svg" width="200" class="img-fluid" alt="...">
      </div>
      <div class="col-md-9 mx-auto">
        <div class="card-body">

          <h5 class="card-title">
            <%-JSON.parse(JSON.stringify(jsonData.lsRegular.MiniBatchDescription))%>
          </h5>

          <h2 class="card-title text-info">
            <%-JSON.parse(JSON.stringify(jsonData.lsRegular.MiniBatch))%>
          </h2>

          <h2 class="card-title text-success">
            <%-JSON.parse(JSON.stringify(jsonData.lsRegular.MiniBatchPricePerHourForClassTwelve))%>
          </h2>

          <p class="card-text">
           
          </p>
          <h6 class="card-phone" >
            <i class="fa fa-phone" aria-hidden="true"></i>
            <a style="color: rgb(59, 59, 59);" href=" <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>">
                <%-JSON.parse(JSON.stringify(jsonData.lsr.PhoneNo))%>
            </a>                       
          </h6>
          <a class="btn btn-md btn-succ" href="">
              ADD TO CART</a>
        </div>
      </div>
    </div>
</div>

</div>




    <!-- <div class="tab-pane" id="Class4">Class 4</div>
    <div class="tab-pane" id="Class5">Class 5</div>
    <div class="tab-pane" id="Class6">Class 6</div>
    <div class="tab-pane" id="Class7">Class 7</div>
    <div class="tab-pane" id="Class8">Class 8</div>
    <div class="tab-pane" id="Class9">Class 9</div>
    <div class="tab-pane" id="Class10">Class 10</div>
    <div class="tab-pane" id="Class11">Class 11</div>
    <div class="tab-pane" id="Class12">Class 12</div> -->



</div>




</div>
</div>














<%- include('partials/footer'); %>