<section>
  <div class="jumbotron jumbotron-fluid jumbotron-top">
    <div class="jumbo-text text-center">
      <h1>Dashboard</h1>
    </div>
  </div>
</section>

<%- include('partials/alerts'); %>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="card shadow">
          <div class="card-body">
            <h2 class="card-title">
              <i class="fa fa-user" aria-hidden="true"></i> Welcome, <%=
              user.username%>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container p-3">
  <button type="button" class="btn btn-danger btn-sm mr-2" id="logout-btn">
    Logout
  </button>
  <button type="button" class="btn btn-warning btn-sm mr-2" id="password-btn">
    Change Password
  </button>
</div>
<% if(user.role === 'admin'){ %> <%- include('dashboard/admin') %> <% } %> <%
if(user.role === 'student') { %> <%- include('dashboard/student') %> <% } %> <%
if(user.role === 'teacher') { %> <%- include('dashboard/teacher') %> <% } %>

<style>
  /* Tabs*/

  #tabs {
    background: #ffffff;
    color: rgb(0, 0, 0);
  }
  #tabs h6.section-title {
    color: #eee;
  }

  #tabs .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    color: #f3f3f3;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
  }
  #tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    color: rgb(0, 0, 0);
    font-size: 20px;
  }
</style>
<script>
  const joinBtns = document.querySelectorAll(".join");
  joinBtns.forEach((btn) => {
    btn.addEventListener("click", () => {
      location.href = `/user/class/${btn.dataset.join}`;
    });
  });
  const logoutBtn = document.getElementById("logout-btn");
  logoutBtn.addEventListener("click", () => {
    let isLogout = confirm("Are you sure you want to logout?");
    if (isLogout) window.location.href = "/user/logout";
  });
  const passwordBtn = document.getElementById("password-btn");
  passwordBtn.addEventListener("click", () => {
    window.location.href = "/user/passchange";
  });
</script>
