<!-- Modal -->
<style>
  .group {
    display: flex;
  }
  .group > * {
    margin-right: 10px;
  }
</style>
<div
  class="modal fade"
  id="changeClassInfo"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Change Class Info</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="/dashboard/class/<%= cls.id %>?_method=PUT" method="POST">
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input
              type="text"
              class="form-control"
              id="title"
              name="title"
              value="<%= cls.title %>"
              required
            />
          </div>
          <div class="mb-3">
            <label for="title" class="form-label">Topic</label>
            <input
              type="text"
              class="form-control"
              id="topic"
              name="topic"
              value="<%= cls.topic %>"
            />
          </div>
          <div class="mb-3">
            <label for="subject" class="form-label">Subject</label>
            <input
              type="text"
              class="form-control"
              id="subject"
              name="subject"
              value="<%= cls.subject %>"
              required
            />
          </div>
          <div class="mb-3">
            <label for="meet" class="form-label">Google meet link</label>
            <input
              type="text"
              class="form-control"
              id="meet"
              name="meetUrl"
              value="<%= cls.meetUrl ? cls.meetUrl : '' %>"
            />
          </div>
          <button type="submit" class="btn btn-primary">Confirm</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script></script>
